<h1 class="title">Éditer le profil</h1>

<%= render 'form', user: @user %>

<%= link_to 'Voir le profil', @user, :class => "btn btn-outline-success button_back" %> 
<%= link_to 'Retour', users_path, :class => "btn btn-outline-success button_back" %>
