<% @concerts.each do |concert| %>
    <div class="container">
        <div class="row flex-items-xs-middle">
            <div class="col-xs">
                <div class="media">
                    <div class="media-left media-middle">
                        <%= link_to image_tag("concert.jpg", :alt => "Generic placeholder image", :class => "media-object", :height => "100px",
                            :width => "100px"), "#" %>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><%= concert.name %></h4>
                        <p>30/300 places disponibles</p>
                        <%= link_to "Voir plus", "#", :class => "nav-link" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>