<p>
	<strong>Tiltle:</strong>
	<%= @concert.name %>
</p>

<p>
	<strong>Text:</strong>
	<%= @concert.address %>
</p>

<p>
	<strong>Tickets:</strong>
	<%= @concert.tickets_available %>
</p>

<%= link_to 'Back', concerts_path %>