<%= form_for @reservation, url:concert_reservations_path do |f| %>
    
     <div class="form-group">
        <%= f.label "Nombre de tickets"%>
        <%= f.text_field :tickets_number, :class => "form-control", :id => "formGroupExampleInput2", :placeholder => "Nombre de tickets"%>
        <p>
        <%= f.submit 'Réserver' %>
    </p>
    </div>
<% end %>    