// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.a_connexion {
margin-right : 10px;
}

.media-body{
	width: 100%;
	p{
		margin: 0
	}
}

.concert_content {
margin-top : 60px;
}

.cardo {
	padding: 15px;
}